* {
    margin: 0;
    padding: 0;
}

html, body {
    background: #303030;
    color: #c0c0c0;
    font-family: monospace;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;    
    height: 100%;
    overflow: hidden;
}

body {
    perspective: 1000px;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#gui_app {
  position: absolute;
  border: 10px dashed transparent;
  opacity: 0;
  border-radius: 50%;
  animation: rootAnim;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;    
  display: flex;
  align-items: center;
  justify-content: center;
}

#gui_app svg polygon {
  animation: rootAnimSVGpolygon;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  transform-origin: 50% 50%;  
}

@keyframes rootAnim {
    0% {
        opacity: 0;
        border-color: rgb(70, 70, 70);
    }
    5% {
        opacity:1;
        border-color: rgb(70, 70, 70);
    }
    10% {
        transform: rotateX(45deg);
        border-color: rgb(60, 60, 60);
    }
    15% {
        transform: rotateX(45deg);
        border-color: rgb(50, 50, 50);
    }
    50% {
        transform: rotateX(45deg) rotateZ(360deg);
        border-color: red;
    }
    84.999% {
        transform: rotateX(45deg) rotateZ(720deg);
        border-color: rgb(50, 50, 50);
    }
    85% {
        transform: rotateX(45deg);
        border-color: rgb(60, 60, 60);
    }
    90% {
        opacity:1;
        transform: rotateX(0deg);
        border-color: rgb(70, 70, 70);
        box-shadow : 0 0 30px darkorange;
    }
    100% {
        border-color: gray;
        border-color: rgb(70, 70, 70);
        box-shadow : 0 0 20px darkorange;
    }
}

@keyframes rootAnimSVGpolygon {
    0% {
        opacity: 0;
    }
    5% {
        opacity:1;
    }
    10% {
        
    }
    15% {
        
    }
    50% {
        transform: rotateX(0deg);
        fill: darkorange;
    }
    84.999% {
        
    }
    85% {

    }
    90% {
        opacity:1;
        fill: orange;
        transform: rotateX(0deg);
    }
    95% {
        opacity:1;
        fill: orange;
    }
    100% {
        opacity: 0; 
        fill: orange;
    }
}